/* media queries pour adaptabilité aux médias */

/* defaut */ 
div.tabSize, div.finPage {	width: 790px; }
#site_logo { background-image: url("bandeauRH.gif"); width: 260px;  }
body {
    background:#ECECEA ; /*url(fd.jpg) repeat-x scroll 0 0;*/ 
}
    
@media (min-width: 1000px) { 
	div.tabSize, div.finPage  {width: 900px;}
}

@media (min-width: 800px) and (max-width: 999px) {
    div.tabSize, div.finPage  {	width: 771px; }
}

@media (min-width: 400px) and (max-width: 799px) {
    div.tabSize, div.finPage  {	width: 88%; }
	#site_logo { background-image: none; width:100px;}
}

@media (max-width: 399px) {
    div.tabSize, div.finPage  {	width: 310px;}
    #site_logo { background-image: none; width:100px;}
}

@media print {
	div.tabSize, div.finPage  {	width: 650px; }
	.menuRH { display:none ; }
	#site_logo { background-image: url("bandeauRH.gif"); width: 260px;  }
	body { background:#FFFFFF }; 
}
	

/* CSS classique */
BODY,TD,TH, input, textarea
{
    color: #454545;
    FONT-FAMILY: 'Open Sans','Verdana';
	font-size: 13px
}
body {
    /*background:#FFFFFF url(fd.jpg) repeat-x scroll 0 0; */
	margin:10;
	padding:0;
	text-align:center;
	/*background-color:  #FFFFFF;*/  
}
#site_logo { 
	/* background-image: url("bandeauRH.gif"); */
    background-position: left;
    background-repeat: no-repeat;
    height: 54px;
    /* width: 260px;   */
} 
fieldset {
	border: none;
	width: 100%; /*700;*/
	word-wrap: break-word;
	padding: 2px;
	display: block;
	margin: 2px;
}
p  {
	margin-top: 1px;
	margin-bottom: 1px;
}
a {text-decoration: none;}
a:hover {
	text-decoration: underline;
    color: #BD5E00; 
}
input[type:"radio"]+label:hover, input[type:"checkbox"]+label:hover { 
	color: #BD5E00; 
}
.blocP {
	margin-top: 4px;
	margin-bottom: 2px;
}
fieldset.blocP input, fieldset.blocP textarea, fieldset.blocP select {
	background: #FFFFFF url('../images/fieldbg.gif') repeat-x scroll center top;
	border-color: #7C7C7C #C3C3C3 #DDDDDD;
	border-style: solid;
	border-width: 1px;
	margin: 2px;
}
fieldset.blocP textarea {
	width: 95%;
}
.centremoi {
	text-align: center;	
}
.tdGris{
	 background-color: #ece9d8;
}
div.tabSize {
	/*width: 771;*/
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	/*border-left-color: #ECECEA;
	border-left-style: solid;
	border-left-width: 1px;*/
	border: 1px solid #CCCCCC;
    border-radius: 20px;
	padding: 28px;
	text-align:left;
}
table.tabSize {
	width: 100%;
}

div.finPage {
	margin-left: auto;
	margin-right: auto;
	/*background-image: url(../theme/finPage.gif);
	background-repeat: repeat-x;
	border-left-color: #EEEEEE;
	border-left-style: solid;
	border-left-width: 1px;
	padding-left: 28px;
	padding-right: 28px;
	height: 8px;*/
}
table.finPage {
	width: 100%;
}
.div100 {
	margin-left: 150;
}
.div200 {
	float: left;
	width: 200;	
}
.div150 {
    float: left;
    width: 150px;
}
a.anchor {
	text-decoration: none;
	color: rgb(102, 102, 102);
}
a.anchor:hover {text-decoration: underline}
a.greytext {text-decoration: none}
a.greytext:hover {text-decoration: underline}	
.greyText
{
	color: rgb(102, 102, 102);
    font-family: 'Open Sans','Verdana';
	font-size: 13px;
}
.bigGreyText
{
	color: #555;
    /*font-family: arial;*/
	font-weight: bold;
	font-size: 14px;
}
a.bigGreyText {
	display: block;
	text-decoration: none;
	cursor : pointer;	
	background-color: #F5F5F5;
}
a.bigGreyText:hover {
    background-color: #EEEEEE; 
    
}
.etape {
	color: #5A1F00; /*  #990000; */
	font-family: verdana;
	/* font-weight: bold; */
	font-size: 14px;
	/* background-color: #F6E8B1; */
	text-decoration: none;
	border-top-color: #cccccc;
	border-top-style: solid;
	border-top-width: 1px; 
	padding-top: 14px;
	padding-bottom: 12px;
	padding-left: 4px;
	
}
.etape1 {
	/*color: #990000;*/
	color: #BD5E00;
	font-family: arial;
	font-weight: bold;
	font-size: 14px;
	/*background-color: #FEF3DA;*/
	text-decoration: none;
}
.border1 {
	border-right-color: #BD5E00;
	border-right-style: solid;
	border-right-width: 1px;
}
.etape2 {
	color: #e1b500;
	font-family: arial;
	font-weight: bold;
	font-size: 14px;
	/*background-color: #FEF3DA;*/
	text-decoration: none;
}
.border2 {
	border-right-color: #e1b500;
	border-right-style: solid;
	border-right-width: 1px;
}
.etape3 {
	color: #ffa042;
	font-family: arial;
	font-weight: bold;
	font-size: 14px;
	/*background-color: #FEF3DA;*/
	text-decoration: none;
}
.border3 {
	border-right-color: #ffa042;
	border-right-style: solid;
	border-right-width: 1px;
}
.etape4 {
    color: #008000;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
	/*text-align: center;*/
}
.border4 {
	border-right-color: #008000;
	border-right-style: solid;
	border-right-width: 1px;
}

.bigWhite {
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
.redText
{
	color: #cc0000;
    font-family: 'Verdana';
}
.whiteText
{
    font-family: 'Verdana';
	font-size: 11px;
	COLOR: #ffffff;
}
.greenText
{
	COLOR: #36a380;
}
.text
{
    color: #000000;
    font-family: 'Open Sans','Verdana';
	font-size: 13px;
}
.errorText
{
	color: #990000;
	/* border-style:solid; */
	/* border-color: #990000; */
	/* border-width: 1px; */
}
.alert
{
	 background-color: #ffdede;
	border-width: 0px; 
	border-radius: 10px;
	padding: 14px;
}
.errorTextSolid {
	color: #990000;
	border-style: solid; 
	border-color: #990000; 
	border-width: 1px; 
	font-weight: bold;
	display: inline-block;
	padding: 2px;
	margin: 2px;
}
.fireButton {
	color: #993300;
	display: inline-block;
	padding: 5px 10px;
	margin: 2px;
	cursor: pointer;
	background-color:#F2F2DA;
	border: 1px solid #E7D29F;
}
.fireButton:hover {
	background-color: #993300; /* #f9f9ed */
	color:#F2F2DA;
	text-decoration: none;
}
.fireButton, .btlink {
	-moz-transition: background-color 500ms linear, color 500ms linear;
	-webkit-transition: background-color 500ms linear, color 500ms linear;
	-o-transition: background-color 500ms linear, color 500ms linear;
	transition: background-color 500ms linear, color 500ms linear;
	text-decoration: none;
}

.btlink {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 6px 8px;
    text-decoration: none;
    color:#777;
}
.btlink:hover {
	background-color: #bbb; /* #f9f9ed */
	color:#FFFFFF;
	text-decoration: none;
}

	
.mandatoryInput, fieldset.blocP input.mandatoryInput, 
  fieldset.blocP textarea.mandatoryInput,  fieldset.blocP select.mandatoryInput {
background-color: #FFE9E8;
}
.requestedInput, fieldset.blocP input.requestedInput, fieldset.blocP textarea.requestedInput  {
background-color: #FFE9E8;
/* border-left-color : red; */
}
.normalInput {
	font-family: 'Open Sans','Verdana';
	font-size: 13px
}
.readOnly
{
	color: #000000;
/*	border-left-style: solid; 
	border-left-color: #cccccc; 
	border-left-width: 1px; */
	background: url('../images/vertical-grey-line.png') no-repeat left;
/*	background: url('../images/icon_arrow_grey.jpg') no-repeat left;	*/
	padding-left: 10px;	
}
.divMsg {
	background-color: #F5F5F5;
	/*background-image: url(coin_news.png);
	background-repeat: no-repeat;*/
	padding: 10px;
	border-left-style: solid;
	border-left-color: red;
	border-left-width: 1px; 
}
.borderBottomGrey {
	border-bottom-color: #ccc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.borderGrey {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	margin: 4px;
}
span.note {
	color:blue;
	text-decoration: underline;
	cursor: pointer;
}
table.bordered td {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
}
.greyBox {
	padding: 10px;
	margin: 5px;
	
	background-color:#FFFFFF;
	background-image:url(gradientfromtop.gif);
	background-position:0 -50px; 
	background-repeat:repeat-x;
	border:1px solid #D4D4D4;
	color: #404040;
}

.redBox {
	padding: 10px;
	margin: 5px;
	
	background-color:#FFFFFF;
	background-image:url(gradientfromtop.gif);
	background-position:0 -50px; 
	background-repeat:repeat-x;
	border:1px solid red;
	color: #404040;
}

.title {
	background-color: #ddd;
	color: #333;
	text-align: center;
}

.menuRH {
	background-color:#EEEEEE;
	background-image:url(topnav_bg.gif); 
	background-position:center bottom;
	background-repeat:repeat-x; 
	padding:6px;
	color: #cccccc;
}

td.menuRH a {
 	cursor:pointer;
    color: #777777;
    padding-left: 10px;
    text-decoration: none;
    padding-right: 10px;
}
td.menuRH a:hover {
    border: 1px solid #BBBBBB;
    color: #fff;
    padding-left: 9px;
    background-color: #CC6600;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}

input[type="submit"], .orangeButton {
	cursor:pointer;
    color: #444;
    background-color:#EEEEEE;
	background-image:url(topnav_bg.gif); 
	background-position:center bottom;
	background-repeat:repeat-x; 	
    border: 1px solid #BBBBBB;
	padding: 4px 8px;
    FONT-FAMILY: 'Open Sans','Verdana';
}

input[type="submit"]:hover, .orangeButton:hover {
    color: #fff;    
    background-color: #CC6600;
    background-image:none;
    text-decoration: none;
}

.fleche_orange {
	background: url('../images/fleche_orange.png') no-repeat left;
	padding-left: 16px;
}
.fleche_rouge {
	background: url('../images/fleche_rouge.gif') no-repeat left;
	padding-left: 16px;
}
.fleche_noire {
	background: url('../images/fleche_noire.gif') no-repeat left;
	padding-left: 16px;
}
.fleche_grise {
	background: url('../images/fleche_grise.jpg') no-repeat left;
	padding-left: 16px;
}
.puce_orange {
	background: url('../images/puce_orange.png') no-repeat left;
	padding-left: 20px;
}
.puce_rouge {
	background: url('../images/puce_rouge_c.gif') no-repeat left;
	padding-left: 18px;
}
.puce_rouge_dot {
	background: url('../images/puce_rouge.gif') no-repeat left;
	padding-left: 18px;
}
.sheet {
	background: url('../images/sheet.jpg') no-repeat left;
	padding-left: 16px;
}

/* css for timepicker */
			.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
			.ui-timepicker-div dl{ text-align: left; }
			.ui-timepicker-div dl dt{ height: 25px; }
			.ui-timepicker-div dl dd{ margin: -25px 10px 10px 65px; }
			.ui-timepicker-div td { font-size: 90%; }
		/* custom */	
			.ui-datepicker-current { display: none; }

.accordion2 .ui-widget-content {
	border: 1px solid #E78F08;
	border-top:none;
}

.ui-widget {
    font-family: arial;
}
.ui-widget h3{
	font-weight: bold;
	font-size: 14px;
}
.ui-widget .ui-widget h3{
	font-weight: normal;
	font-size: 12px;
}

.sliderA {
	margin:4px;
	width:100px;
}
.sliderP {
	margin:4px;
	width:300px;
}
.chooseForm {
	cursor: pointer;
	margin: 2px;
}
a.chooseForm:hover {
	text-decoration: none;
	background-color: yellow;	
}

#waiting{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    opacity:0.8;
    text-align:center;
}
#waiting div.greyBox {
    margin: 150px auto;
    padding: 70px;
    vertical-align: middle;
    width: 280px;
}
.listRep {
	padding: 4px;
	border: 1px solid #fff;
} 
.listRep:hover {
	border: 1px solid #ccc;
	/*padding: 2px;*/
}
/*.listRep a.fleche_orange {
  display:none;
}
.listRep:hover a.fleche_orange {
  display:inline;
}*/
					
.typForm {
	border:1px solid #ccc;border-radius: 50%;padding: 2px 6px;
}	